html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#head .top{
    background-color: #424242;
    padding: 9px;
    height: 20px;
}

#head .top ul {
    list-style: none;

}
#head .top ul li {
    padding-left: 25px;
    float: right;
}

#head .top ul li a{
    text-decoration: none;
    color: #fff;
    float: right;
}

#head .header-panel {
    padding: 18px 12px;
    background: url("../img/header-back.png") bottom left repeat-x;
}

.flex {
    display: flex;
}
.width1024 {
    width: 1024px;
    margin: 0 auto;
}


#logo {
    padding-right: 40px;
}
#search-field form {
    display: flex;
    padding: 15px;
}

#search-field form input {
    height: 30px;
    border: #79b260 solid 3px;
    width: 320px;
}

#search-field form button {
    color: #fff;
    background-color: #79b260;
}

#search-field form button {
    height: 38px;
    border: #79b260 solid 3px;
    background: #79b260 url("../img/search-logo.png") left center no-repeat;
    padding-left: 35px;
    font-size: 23px;
}

#basket-container div:first-child {
    background: url("../img/basket.png") left center no-repeat;
    color: #6d6d6d;
    font-size: 23px;
    padding-left: 40px;
    margin-bottom: 10px;
}

#basket-container div:first-child span{
    color: #6d6d6d;
    font-size: 13px;
}

#basket-container div b {
    font-size: 27px;
    color: #767676;
    padding-right: 15px;
}

#basket-container {
    padding-left: 50px;
    padding-top: 5px;
    padding-right: 20px;
}

#basket-container div a {
    text-decoration: none;
    color: #fff;
    background: #414141 url("../img/button-chekout-back.png") left bottom repeat-x;
    border-left: 1px solid #636363;
    border-top: 1px solid #636363;
    padding: 5px;
    margin-left: 20px;
    border-radius: 3px;
}

#favor {
    border-left: 1px solid #c5c5c5;
    padding: 40px 15px 20px;
    background: url("../img/star.png")top center no-repeat;
    color: #6d6d6d;
}

/*Menu content*/
header nav {
    border-bottom: 1px solid  #dedede ;
}
header nav ul {
    display: flex;
}


header nav ul li a, .price-block button, #comments button{
    color: #5b5b5b;
    text-decoration: none;
    font-size: 19px;
    display: block;
    padding: 10px 20px; /* top-bottom, left/right*/
    border: none;
}

header nav ul li.active a, .price-block button,#comments button,   header nav ul li a:hover, #sidebar .active, #sidebar li:hover{
    background: url("../img/menu-item-back.png") bottom left repeat-x;
    color: #fff;
    cursor: pointer;
}


/*Slider block*/
#banner-container {
    display: flex;
    padding: 12px 16px 12px 11px;
}
#slider, #slider .slide {
    width: 714px;
    height: 304px;
    overflow: hidden;
}

#slider {
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}

#slider .banner-btn {
    position: absolute;
    top: 50%;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: -18px;

}
#slider .btn-left {
    left:20px;
}
#slider .btn-right {
    right: 6px;
}

#slider .banner-btn span {
    background: #000;
    opacity: 0.3;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 18px;
    top: -6px;
    left: -9px;
}
/* Slider Block End*/


/*Random Banner Block*/
#rand-product-banner {
    width: 267px;
    height: 304px;
    background: url("../img/rand-banner-back.jpg") top left no-repeat;
    background-size: 100% 100%;

}

#rand-product-banner h3 {
    text-align: left;
    font-size: 27px;
    color: #fff;
    font-weight: normal;
    padding: 18px 24px 8px;

}
#rand-product-banner .slugan {
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: normal;

}
#rand-product-banner .pic {
    text-align: center;
    padding-top: 12px;

}

#rand-product-banner .price {
    text-align: center;
    font-size: 21px;
    color: #fff;
    padding-top: 28px;

}

#rand-product-banner .price span {
    display: block;
}

#rand-product-banner .price b {
    font-size: 29px;
    font-weight: normal;
    padding-top: 7px;
}

#rand-product-banner .btn-buy {
    text-align: center;
    padding-top: 10px;
}

#rand-product-banner .btn-buy a{
    background: #5dbb5d;
    color: #fff;
    padding: 5px 20px;
    font-size: 19px;
    text-decoration: none;

}
/*Random Banner Block End*/

/*Content Block*/
#content {
    display: flex;
    padding: 15px;
}

/*Sidebar Block*/
#sidebar {
    width: 190px;
    border: 1px solid #d6d6d6;
}

#sidebar h3 {
    color: #6b6969;
    font-size: 24px;
    padding: 12px 17px;
}

#sidebar h4 {
    color: #6b6969;
    font-size: 17px;
    padding: 10px 20px;
}

#sidebar li a {
    text-decoration: none;
    color: #6b6969;
    font-size: 15px;
    padding: 8px 0;
    margin: 0 24px;
    border-bottom: 1px solid #e6e7e8;
    display: block;
}

#sidebar .active a, #sidebar li:hover a{
    border: none;
    color: #fff;
}
/*Slider Block End*/

/*Body*/
#content .body {
    padding-left: 7px;
}
#content .bookmarks ul {
    display: flex;
    list-style: none;
    margin-bottom: -1px;

}

#content .bookmarks ul li a {
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    background: url("../img/header-back.png") bottom left repeat-x;
    color: #6b6969;
    border:1px solid #cacfd2;
    border-left: 1px solid #fff;

}

#content .bookmarks ul li.active a ,#content .bookmarks ul li a:hover{
    background: #fff;
    color: #464646;
    border-left-color: #cacfd2;
    border-bottom-color: #fff;
}

#content .product-list {
    padding-top: 10px;
    border:1px solid #cacfd2;
    width: 800px;
    padding-bottom: 70px;

}
#content .product-list ul {
    display: flex;
}

#content .product-list ul li {
    padding: 10px;
    position: relative;
}

#content .product-list ul li > a{
   text-decoration: none;
    display: block;
    padding: 14px;
    background: url("../img/product-back.png") top left no-repeat;
    background-size: 100% 100%;
    width: 98px;
    height: 150px;
}
.product-list ul li > a img{
    width: 98px;
    height: 150px;
}

.product-list ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #646464;
    text-align: center;
    display: block;
    padding:3px 15px;
}

.product-list ul li .price {
    font-size: 22px;
    color: #f05356;
    text-align: center;
    display: block;
    padding:5px 0 20px;
}

#content .product-list ul li > img {

    position: absolute;
    top: -3px;
    right: 14px;
}

.pager {
    display: flex;
    float: right;
    margin-right: 30px;
}

.pager a {
    text-decoration: none;
    color: #646464;
    font-size: 16px;
    display: block;
    padding: 5px;
}

.pager .active a {
    border: 1px solid #e0e0e0;
    border-bottom: 4px solid #81bd66;
}


/*Body End*/

/*Footer menu */

footer {
    background-image: url("../../frontend/img/footer-back.png");

}
footer nav {

    display: flex;

}

footer nav .categories-group {
    width: 210px;
    padding-left: 25px;
    padding-bottom: 27px;


}

footer nav .categories-group h4{
    color: #dddddd;
    padding: 30px 0;
    font-size: 20px;


}

footer nav .categories-group a{
    color: #dddddd;
    text-decoration: none;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #575457;
    display: block;


}

footer nav .categories-group li:first-child a {
    border-top: none;
}
footer #payment-system, .info {
    background: url("../../frontend/img/pay-system-back.png");
    color: #dddddd;
    text-align: center;
    padding: 30px 0 10px;
    font-size: 20px;
    border-bottom: 1px solid #505056;

}

#payment-system > div:first-child {
    padding-bottom: 7px;
}

footer .info {
    border-bottom: 3px solid #505056;
    padding: 10px 0 25px;
    font-size: 15px;
}
/*Footer menu end*/
/*Breadcrumbs Block*/
#breadcrumbs {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: 8px;
}

#breadcrumbs ul {
    display: flex;
    list-style: none;
}

#breadcrumbs ul li {
    background: url("../../frontend/img/arrows-breads.png") center left no-repeat;
    padding-left: 15px;
    color: #a6a6a6;
    font-size: 16px;
    margin-right: 10px;
}

#breadcrumbs ul li:first-child {
    background: none;
    padding-left: 0;

}

#breadcrumbs ul li a{
    text-decoration: none;
    color: #a6a6a6;
}

/*Breadcrumbs Block End*/

/* Product - content Block*/
.product-content {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: 8px;
}

.price-block {
    position: relative;
}
#product .columns {
    display: flex;
    padding: 15px 12px;
}
#product .column {

    padding-right: 30px;
}
#product h1 {
    color: #595959;
    font-size: 40px;
    font-weight: normal;
    padding: 20px 0;
}

#product .info-1, #product .contents, #product .text {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}

#product .secure {
    border-top: 3px solid #d1d1d1;
    margin-top: 10px;
    padding-top: 10px;
    color: #939292;
    font-size: 13px;
}

#product .secure div:first-child {
    padding-bottom: 10px;

}

#product .secure img {
    margin-right: 10px;
}
#product .price-block {
    border: 1px solid #d5d2d2;
    margin-top: 20px;
    padding: 20px 25px 12px;

}

#product .price-block .label{
      color: #015699;
      font-size: 36px;
    padding-bottom: 13px;

  }

#product .price-block .label span{
    color: #e45858;
    font-size: 36px;


}

#product .statistic, #comments  form {
      color: #939292;
      font-size: 17px;


}

#product .price-block button {
    position: absolute;
    top: 20px;
    right: 24px;


}

#comments button{
    position: absolute;
    bottom: 5px;
    right: 24px;


}

#product-info .contents, #comments {
    border: 1px solid #d5d2d2;
    border-radius: 4px;
    padding: 20px;
}
/* Product Block End*/

/*Comment Block*/
#comments {
    margin-top: 10px;
    position: relative;
}
#comments .comment {
    display: flex;
    padding-bottom: 20px;
}

#comments .username {
    color: #a2a2a2;
    font-size: 13px;
    padding: 0 0 20px;
}

#comments .user-info {
    margin-right: 20px;
}

#comments h4, form h4 {
    color: #7e7e7e;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 20px;
}
#comments form input, #comments form textarea {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
}

#comments form div {
    padding-bottom: 10px;
}

#comments form textarea {
    height: 100px;
}
#product-info .product-list {
    padding-top: 10px;
    border:1px solid #cacfd2;
    width: 100px;
    padding-bottom: 70px;

}
#product-info h4 {
    font-size: 20px;
    padding: 10px 0;
}
#product-info .product-list ul li a{
    text-align: left;

}

#product-info .product-list h3 a {
    text-decoration: none;
}

#product-info .product-list img {
    width: 50px;
    height: auto;
}

#product-info .product-list h3 {
    font-size: 15px;
    color: #595959;
}

#product-info .product-list .price {
    font-size: 22px;
    color: #f05356;
}

#product-info .product-list ul li {
    display: flex;
}

#product-info .product-list ul {
    display: inline-block;
}

#product-info .product-list ul li > div:first-child {
    padding-right: 10px;
}
#product-info .product-list div > button {
    background: #595959;
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
}
/*Comment Block End*/
@media(max-width: 1024px) {
    .width1024 {
        width: 100%;
        margin: 0;
    }
}
